@model IEnumerable<u04598637_HW06.Models.order_items>

@{
    ViewBag.Title = "Index";
}

<h2>Orders</h2>


<table class="table">

    @foreach (var item in Model)
    {
        <tr>
            <th>
                Product Name
            </th>
            <th>
                List Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total
            </th>
        </tr>

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.product.product_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.list_price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                @item.quantity * @item.list_price
            </td>
        </tr>
    }

</table>
